/node_modules
/public/assets
/public/css
/public/js
/public/*.js
/public/*.js.*
/public/images
/public/fonts
/public/vendor
/public/hot
/public/storage
/public/mix-manifest.json
/public/fonts/vendor/bootstrap-sass
/storage/*.key
/vendor
.env
.idea
.phpunit.cache
vendor
composer.lock

.env.backup
.phpunit.result.cache
/.vagrant
docker-compose.override.yml
/.keys
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
deployment/kubernetes/credentials
deployment/kubernetes/credentials.zip
deployment/scripts/vault/credentials
.kube
/_ide_helper.php

#vim
*.swp
*.swo
*.vim*
cscope*
tags
.ctags
.ack_run.sh
.build_search.sh
.php_cs.cache
.phpcd
!.phpcd.vim

# helm data
/.helm

#composer
composer.phar
.composer

#docker
.dockerignore

#kubeconfig
.temp.kubeconfig.yaml

.bash_history

#vault keys
.vault.*
!.vault.init.txt

swagger-codegen-cli*jar

.staging-storage-reader-data-downloader.json

#osx folder information
.DS_Store

/.idea
/.vscode
# don't commit gcp service accounts
key.json
gcp.json
